<div class="produtos-grid">
    <table class="table">
        <thead>
            <tr>
                <th>
                    Nome
                </th>
                <th>
                    Quantidade
                </th>
                <th>
                    Valor
                </th>
                <th>
                    Ações
                </th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let produto of listaProdutos">
                <td>
                    {{produto?.Nome}}
                </td>
                <td>
                    {{produto?.Quantidade}}
                </td>
                <td>
                    {{produto?.Valor}}
                </td>
                <td>
                    <button routerLink="/detalhes/{{produto?.Id}}" class="btn btn-primary btn-lg">Editar</button><button (click)="Deletar(produto)" class="btn btn-danger btn-lg">Excluir</button>
                </td>
            </tr>
        </tbody>
    </table>
</div>
