.estoque-header {
    position: relative;
    margin: auto;
    width: 50%;
    display: grid; 
    justify-content: center;
}

.produto-detalhe-adicionar{
    margin: 10px 0px 10px 0px;
}

.estoque-title {
    text-align: center;
}