.produto {
    position: relative;
    margin: auto;
    width: 50%;
    padding: 10px;
    display: flex; 
    justify-content: center;
    margin-top: 100px;
}
.produto-detalhe {
    display: inline-flex;
  }

  .produto-detalhe-info{
    color: black;
  }

  .produto-detalhe-info-dados {
    padding: 10px;
    text-align: center;
  }

  .produto-detalhe-voltar {
    position: relative;
    margin: auto;
    width: 50%;
    display: flex; 
    justify-content: center;
  }

  .produto-detalhe-imagem {
      min-width: 350px;
      margin-right: 100px;
   }

   .produto-acoes {
      margin-top: 50px;
      display: flex;
   }